<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.CustomerReturnListGoodsDao">

<!--    void saveGoods(CustomerReturnListGoods customerReturnListGoods);-->
        <insert id="saveGoods">
            insert into t_customer_return_list_goods(goods_id,goods_code,goods_name,goods_model,goods_num,goods_unit,price,total,customer_return_list_id,goods_type_id)
            values(#{goodsId},#{goodsCode},#{goodsName},#{goodsModel},#{goodsNum},#{goodsUnit},#{price},#{total},#{customerReturnListId},#{goodsTypeId})
        </insert>


<!--    List<SaleOrReturnListGoodsVo> queryCustomerReturnListGoodsJson(String sTime, String eTime, Integer goodsTypeId, String codeOrName);-->
    <select id="queryCustomerReturnListGoodsJson" resultType="com.atguigu.jxc.domain.SaleOrReturnListGoodsVo">
        SELECT t1.return_number number,t1.return_date date ,t3.customer_name customerName,t2.goods_code `code`,t2.goods_name `name` ,t2.goods_model model
        , t4.goods_type_name goodsType ,t2.goods_unit unit,t2.price price,t2.goods_num num,t2.total total
        FROM `t_customer_return_list` t1
        LEFT JOIN t_customer_return_list_goods t2 ON t1.customer_return_list_id = t2.customer_return_list_id
        LEFT JOIN t_customer t3 ON t1.customer_id = t3.customer_id
        LEFT JOIN t_goods_type t4 ON t2.goods_type_id = t4.goods_type_id
        <where>
            <if test="sTime != null and sTime != ''">
                AND t1.return_date &gt;= #{sTime}
            </if>
            <if test="eTime != null and eTime != ''">
                AND t1.return_date &lt;= #{eTime}
            </if>
            <if test="goodsTypeId != null and goodsTypeId != ''">
                AND t4.goods_type_id = #{goodsTypeId}
            </if>
            <if test="codeOrName != null and codeOrName != ''">
                AND t2.goods_code = #{codeOrName} or t2.goods_name = #{codeOrName}
            </if>
        </where>

    </select>




    <!--        Integer deleteBycustomerReturnListGoodsId(Integer customerReturnListId);-->

    <delete id="deleteBycustomerReturnListGoodsId"  >
        DELETE FROM t_customer_return_list_goods
        WHERE customer_return_list_id = #{customerReturnListId}
    </delete>

<!--    <delete id="deleteGoods" parameterType="java.lang.Integer">-->
<!--        DELETE FROM-->
<!--        t_goods-->
<!--        WHERE t_goods.goods_id = #{goodsId}-->
<!--    </delete>-->



    <!--    List<CustomerReturnListGoods> queryCustomerReturnListGoods(Integer customerReturnListId);-->

    <resultMap id="queryCustomerReturnListGoodsResultMap" type="com.atguigu.jxc.entity.CustomerReturnListGoods">
        <result column="customer_return_list_goods_id" property="customerReturnListGoodsId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_code" property="goodsCode"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_model" property="goodsModel"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="goods_unit" property="goodsUnit"/>
        <result column="price" property="price"/>
        <result column="total" property="total"/>
        <result column="customer_return_list_id" property="customerReturnListId"/>
        <result column="goods_type_id" property="goodsTypeId"/>
    </resultMap>

    <select id="queryCustomerReturnListGoods" resultMap="queryCustomerReturnListGoodsResultMap">
        SELECT *
        FROM t_customer_return_list_goods t1
        WHERE t1.customer_return_list_id = #{customerReturnListId}
    </select>



</mapper>
