<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.jxc.dao.ReturnListGoodsDao">

    <select id="getReturnNumber" resultType="com.atguigu.jxc.vo.ReturnListVo">
        SELECT t1.return_number returnNumber,t1.return_date `returnDate` ,t3.true_name trueName,
        t2.price price, t1.state ,t4.supplier_name supplierName, t1.return_list_id returnListId
        FROM t_return_list t1
        LEFT JOIN t_return_list_goods t2 ON t1.return_list_id = t2.return_list_id
        LEFT JOIN t_user t3 ON t1.user_id = t3.user_id
        LEFT JOIN t_supplier t4 on t1.supplier_id = t4.supplier_id
        WHERE t1.return_number like CONCAT('%', #{returnNumber} ,'%')-- 'TH1549940820089'
<!--        <where>-->
<!--            <if test="t4.supplier_id != null and t4.supplier_id != ''">-->
<!--                AND t4.supplier_id = #{supplierId}-->
<!--            </if>-->
<!--            <if test="user_id != null and user_id != ''">-->
<!--                AND t3.true_name = #{trueName}-->
<!--            </if>-->
<!--            <if test="return_number != null and return_number != ''">-->
<!--                AND t1.return_number = #{returnNumber}-->
<!--            </if>-->
<!--            <if test="sTime != null and sTime != ''">-->
<!--                AND t_damage_list.damage_date &gt;= #{sTime}-->
<!--            </if>-->
<!--            <if test="eTime != null and eTime != ''">-->
<!--                AND t_damage_list.damage_date &lt;= #{eTime}-->
<!--            </if>-->
<!--        </where>-->
    </select>

    <select id="getGoodsList" resultType="com.atguigu.jxc.vo.GoodsListVo">
        SELECT goods_id goodsId ,goods_code goodsCode , goods_name goodsName ,
               goods_model  goodsModel ,goods_num goodsNum ,price ,total, goods_unit goodsUnit
        FROM t_return_list_goods t1
                 LEFT JOIN t_return_list t2 ON t1.return_list_id = t2.return_list_id
        WHERE t2.return_list_id = #{returnListId}

    </select>

    <delete id="deleteReturnList" parameterType="java.lang.Integer">
        DELETE FROM
            t_return_list t1
            LEFT JOIN t_return_list_goods t2 ON t1.return_list_id = t2.return_list_id
            LEFT JOIN t_user t3 ON t1.user_id = t3.user_id
            LEFT JOIN t_supplier t4 on t1.supplier_id = t4.supplier_id
            WHERE
    </delete>
</mapper>