<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.SaleListGoodsDao">

<!--    List<SaleListGoods> querySaleListGoods(String sTime, String eTime, Integer goodsTypeId, String codeOrName);-->
    <select id="querySaleListGoods" resultType="com.atguigu.jxc.domain.SaleOrReturnListGoodsVo">
        SELECT t1.sale_number number ,t1.sale_date date ,t2.customer_name customerName ,t3.goods_code `code`,t3.goods_name `name`
        ,t3.goods_model model ,t4.goods_type_name goodsType ,t3.goods_unit unit,t3.price price,t3.goods_num num ,t3.total total
        FROM t_sale_list t1
        LEFT JOIN t_customer t2 ON t1.customer_id = t2.customer_id
        LEFT JOIN t_sale_list_goods t3 ON t1.sale_list_id = t3.sale_list_id
        LEFT JOIN t_goods_type t4 ON t3.goods_type_id = t4.goods_type_id
        <where>
            <if test="sTime != null and sTime != ''">
                AND t1.sale_date &gt;= #{sTime}
            </if>
            <if test="eTime != null and eTime != ''">
                AND t1.sale_date &lt;= #{eTime}
            </if>
            <if test="goodsTypeId != null and goodsTypeId != ''">
                AND t4.goods_type_id = #{goodsTypeId}
            </if>
            <if test="codeOrName != null and codeOrName != ''">
                AND t3.goods_code = #{codeOrName} or t3.goods_name = #{codeOrName}
            </if>
        </where>

    </select>



</mapper>
